* {
    font-family: 'Courier New','Lucida console', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

body {
    margin: 0px;
}

main {
    font-size: 16px;
    font-family: 'Courier New','Lucida console', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* ################ HEADER ################ */

header {
    padding: 10px 10px 10px 10px;
    font-family: 'Courier New','Lucida console', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    background-image: url(/assets/images/300-sl-alternative-energy-blue-sky-clouds-371900.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
    text-align: center;
}

header h1 {
    font-size: 3rem;
}

header img {
    width: 120px;
    margin-top: 20px;
    border-radius: 50%;
}

/* ################ NAVIGATION PANE ################ */

nav {
    font-family: 'Lucida console','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

ul {
    display: inline-block;
}

ul li {
    float: left;
    margin: 20px;
    list-style-type: none;
}

a {
    color: rgb(0, 49, 139);
    font-style: normal;
    text-decoration: none;
}
  a:hover {
    color: white;
  }

p {
    text-align: justify;
    padding: 20px px 20px 0px;
    font-size: 1.0rem;
    border-left: solid 10px;
}

.sectionTitle {
    float: left;
    font-size: 3rem;
    width: 15%;
    margin-right: 5px;
    text-align: right;

}

.sectionContent {
	float: right;
    width: 75%;
    padding-left: 50px;
    margin-right: 50px;
}


/* ################ PROJECTS ################ */

.item:hover {
    transform: scale(1.2);
}

.flex-container1 {
    display: flex;
	float: right;
    width: 75%;
    height: 300px;
    border-left: solid 10px;
    padding-left: 50px;
    margin-right: 50px;
}

.item-1 {
    width: 100%;
    margin: 5px;
    background-image: url(/assets/images/html-illustration.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}

.flex-container2 {
    display: flex;
	float: right;
    width: 75%;
    height: 300px;
    border-left: solid 10px;
    padding-left: 50px;
    margin-right: 50px;

}

.flex-container3 {
    display: flex;
	float: right;
    width: 75%;
    height: 300px;
    border-left: solid 10px;
    padding-left: 50px;
    margin-right: 50px;

}

.item-2 {
    width: 50%;
    margin: 5px;
    background-image: url(/assets/images/css-illustration.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.item-3 {
    width: 50%;
    margin: 5px;
    background-image: url(/assets/images/javascript-illustration.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.flex-container4 {
    display: flex;
	float: right;
    width: 75%;
    height: 200px;
    border-left: solid 10px;
    padding-left: 50px;
    margin-right: 50px;
}

.item-4 {
    width: 50%;
    margin: 5px;
    background-image: url(/assets/images/jquery-illustration.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.item-5 {
    width: 50%;
    margin: 5px;
    background-image: url(/assets/images/sql-illustration.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/* ################ CONTACT ################ */

.flex-container5 {
    display: flex;
	float: right;
    width: 75%;
    height: 200px;
    border-left: solid 10px;
    padding-left: 50px;
    margin-right: 50px;
}
.social-icons li a :hover {
    opacity: 0.7;
    transform: scale(1.2);
}

.social-icons {
    text-align: center;
} 

.social-icons li {
    /* display:inline-block; */
    list-style-type:none;
}

.social-icons li img {
    height:60px;
    margin-right: 50px;
}

/* ################ RESUME SECTION ################ */

.flex-container6 {
	float: right;
    width: 75%;
    height: 200px;
    border-left: solid 10px;
    padding-left: 50px;
    margin-right: 50px;
}

#resume img {
    width: 8%;
    height: 8%;
}

#resume a :hover {
    opacity: 0.7;
    transform: scale(1.2);
}

/* ################ MEDIA QUERY FOR DESKTOP ################ */

@media screen and (max-device-width : 1024px) {

    .sectionTitle {
		float: none;
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        font-size: 70%;
    }

    .social-icons li a img {
        height:30px;
    }

    .flex-container1, .flex-container2, .flex-container3, .flex-container4, .flex-container5, .flex-container6 {
        border: none;
    }

    .sectionContent {
        border: none;
        text-align: justify;
        padding: 10px;
        margin: none;
    }

    header h1 {
        font-size: 1.5rem;
    }
    
}

/* ################ MEDIA QUERY FOR PHONE ################ */

@media screen and (max-device-width : 400px) {

    .sectionTitle {
		float: none;
        width: 100%;
        text-align: center;
    }

    nav {
        float: none;
        text-align: center;
    }
    nav ul li a {
        font-size: 70%;
    }

    .social-icons li a img {
        height:30px;
    }

    .flex-container1, .flex-container2, .flex-container3, .flex-container4, .flex-container5, .flex-container6 {
        border: none;
        height: 150px;
    }

    .sectionContent {
        border: none;
        text-align: justify;
        padding: 10px;
        margin: none;
    }

    header h1 {
        font-size: 1.5rem;
    }
    
}